<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Allan Odgaard</string>
	<key>description</key>
	<string>Themes for syntax highlight and (HTML) output.</string>
	<key>name</key>
	<string>Themes</string>
	<key>uuid</key>
	<string>A4380B27-F366-4C70-A542-B00D26ED997E</string>
</dict>
</plist>
