body.plain {
  background: white;
  color: black;
  height: auto;
  margin: auto;
  overflow: auto;
  padding: auto;
}

.plain #tm_webpreview_header,
.plain #tm_webpreview_header .headline,
.plain #tm_webpreview_header .type,
.plain #tm_webpreview_content,
.plain #tm_webpreview_footer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  background: transparent none;
  border: none;
  color: black;
  display: block;
  float: none;
  height: auto;
  margin: auto;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  padding: 0;
  position: static;
  white-space: normal;
}
.plain #theme_switcher {
  display: none;
}
.plain #tm_webpreview_footer {
  margin: 1em 0 0;
}
.plain #tm_webpreview_header .headline, .plain h1 {
  font-size: 2em;
}
.plain #tm_webpreview_header .type, .plain h2 {
  font-size: 1.5em;
}
.plain h3 {
  font-size: 1.17em;
}
.plain h4 {
  font-size: 1em;
}
.plain h5 {
  font-size: 0.83em;
}
.plain h6 {
  font-size: 0.67em;
}
.plain a, .plain a:hover, .plain a:visited {
  color: #1525ab;
  text-decoration: underline;
}
.plain pre {
  background: none;
  border-radius: 0;
  border: none;
  color: black;
  padding: 0;
  position: static;
  white-space: pre-line;
  word-wrap: break-word;
}
.plain hr {
  background: #999;
  border: 1px solid #999;
  height: auto;
  margin: auto;
  padding: 0;
}
.plain h1, .plain h2, .plain h3, .plain h4, .plain h5, .plain h6, .plain p, .plain pre, .plain blockquote {
  margin-bottom: .6em;
  margin-top: .6em;
}
